@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
:root {
  --background: #000822;
  --foreground: #fff;
  --font-eb-garamond: "EB Garamond", serif;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-eb-garamond);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
