@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-eb-garamond);
  scroll-behavior: smooth;
}
:root {
  --background: #000822;
  --foreground: #fff;
  --font-eb-garamond: "EB Garamond", serif;
}
body {
  @apply bg-dark2;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
